header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  @media (max-width: (700px)) {
    
  }
}

.logo {
  flex: 0 1 auto;
  color: var(--color-black);
  display: flex;
  align-items: center;
  margin-right: 80px;
  &__img {
    width: 40px;
    height: 40px;
  }
  &__text {
    margin-left: 8px;
  }
  &__pre {
    font-size: 12px;
    line-height: 12px;
  }
  &__name {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
  }
}

.lang {
  flex: 0 1 auto;
  display: flex;
  border: 1px solid var(--color-grey);
  border-radius: 6px;
  font-size: 13px;
  font-weight: 700;
  &__link {
    padding: 8px;
    color: #8D8D8D;
    &:hover {
      color: var(--color-black);
    }
    &--active {
      color: var(--color-black);
    }
  }
  span {
    display: block;
    width: 1px;
    height: 29px;
    background-color: var(--color-grey);
  }
}

.whatwedo {
  flex: 1 1 auto;
  font-size: 13px;
  line-height: 130%;
  text-align: right;
  @media (max-width: (700px)) {
    margin: 16px 0 0 0;
    text-align: left;
    flex: 100%;
  }
}