@import "normalize";
@import "settings";
@import "vars";

@import "components/header";
@import "components/footer";
@import "components/item_1";
@import "components/item_2";
@import "components/item_3";
@import "components/item_4";
@import "components/item_5";

// main {
//   display: grid;
//   grid-template-columns: repeat(6, 1fr); 
//   // grid-template-rows: repeat(2, 1fr); 
//   // grid-template-areas:
//   //   'title title title acquisition acquisition acquisition'
//   //   'needs needs donate donate report report';
//   gap: 16px;
//   margin: 32px 0 16px 0;
//   width: 100%;
// }

main {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 32px 0 16px 0;
  width: 100%;
  @media (max-width: (500px)) {
    margin: 24px 0 16px 0; 
  }
}

.item3, .item4, .item5 {
  position: relative;
  border-radius: 16px;
  padding: 24px;
  overflow: hidden;
  background-color: var(--color-white);
}

@media (max-width: (960px)) {
  main {
    display: grid;
  }
  .item1, .item2, .item3, .item4, .item5 {
    width: 100%;
    max-width: 100%;
  }
  .item1 {
    order: 1;
  }
  .item2 {
    order: 3;
  }
  .item3 {
    order: 4;
  }
  .item4 {
    order: 2;
  }
  .item5 {
    order: 5;
  }
}
